
.Progressive-Unionist-Party_label:before {
    content: "(PUP) ";
}
.Progressive-Unionist-Party_abbr:before {
    content: "PUP";
}
.Progressive-Unionist-Party {
    fill: #880E4F!important;
    background: #880E4F!important;
    color: #fff
}

.Identity-Ireland_label:before {
    content: "(ID) ";
}
.Identity-Ireland_abbr:before {
    content: "ID";
}
.Identity-Ireland {
    fill: #224466!important;
    background: #224466!important;
    color: #fff
}
.NI21_label:before {
    content: "(NI21) ";
}
.NI21_abbr:before {
    content: "NI21";
}
.NI21 {
    fill: #1c294f!important;
    background: #1c294f!important;
    color: #fff
}
.UK-Independence-Party_label:before {
    content: "(UKIP) ";
}
.UK-Independence-Party_abbr:before {
    content: "UKIP";
}
.UK-Independence-Party {
    fill: #70147a!important;
    background: #70147a!important;
    color: #fff
}
.Drug-Law-Reform-Party_label:before {
    content: "(DLRP) ";
}
.Drug-Law-Reform-Party_abbr:before {
    content: "DLRP";
}
.Drug-Law-Reform-Party {
    fill: #aaeeaa!important;
    background: #aaeeaa!important;
    color: #fff
}

.Conservative-and-Unionist-Party_label:before {
    content: "(CON) ";
}
.Conservative-and-Unionist-Party_abbr:before {
    content: "CON";
}
.Conservative-and-Unionist-Party {
    fill: #6666cc!important;
    background: #6666cc!important;
    color: #fff
}

.Cross-Community-Labour-Alternative_label:before {
    content: "(CCLA) ";
}
.Cross-Community-Labour-Alternative_abbr:before {
    content: "CCLA";
}
.Cross-Community-Labour-Alternative {
    fill: #cc6666!important;
    background: #cc6666!important;
    color: #fff
}
.The-Resume-Party-NI_label:before {
    content: "(RES) ";
}
.The-Resume-Party-NI_abbr:before {
    content: "RES";
}
.The-Resume-Party-NI {
    fill: #111111!important;
    background: #111111!important;
    color: #fff
}
.Traditional-Unionist-Voice_label:before {
    content: "(TUV) ";
}
.Traditional-Unionist-Voice_abbr:before {
    content: "TUV";
}
.Traditional-Unionist-Voice {
    fill: #303F9F!important;
    background: #303F9F!important;
    color: #fff
}


.Ulster-Unionist-Party {
    fill: #03A9F4!important;
    background: #03A9F4!important;
    color: #fff
}

.Alliance-Party {
    fill: #FDD835!important;
    background: #FDD835!important;
    color: #fff
}

.Democratic-Unionist-Party_label:before {
    content: "(DUP) ";
}
.Democratic-Unionist-Party_abbr:before {
    content: "DUP";
}
.Democratic-Unionist-Party {
    fill: #cc9900!important;
    background: #cc9900!important;
    color: #fff
}

.Alliance-Party_label:before {
    content: "(ALL) ";
}
.Alliance-Party_abbr:before {
    content: "ALL ";
}
.Social-Democratic-and-Labour-Party_label:before {
    content: "(SDLP) ";
}
.Social-Democratic-and-Labour-Party {
    fill: #E53935!important;
    background: #E53935!important;
    color: #fff
}
.Social-Democratic-and-Labour-Party_abbr:before {
    content: "SDLP";
}
.Ulster-Unionist-Party_label:before {
    content: "(UUP) ";
}
.Social-Democratic-and-Labour-Party_abbr:before {
    content: "SDLP";
}
.Ulster-Unionist-Party_abbr:before {
    content: "UUP";
}

.People-Before-Profit-Alliance {
    fill: #E91E63!important;
    background: #E91E63!important;
    color: #fff
}
.People-Before-Profit-Alliance_label:before {
    content: "(PBP) ";
}
.People-Before-Profit-Alliance_abbr:before {
    content: "PBP";
}

.People-Before-Profit {
    fill: #E91E63!important;
    background: #E91E63!important;
    color: #fff
}
.People-Before-Profit_label:before {
    content: "(PBP) ";
}
.People-Before-Profit_abbr:before {
    content: "PBP";
}

.Socialist-Party-Northern-Ireland_label:before {
    content: "(SPNI) ";
}

.Socialist-Party-Northern-Ireland_abbr:before {
	content: "SPNI";
}

.Socialist-Party {
    fill: #ff0000!important;
    background: #ff0000!important;
    color: #fff
}
.Socialist-Party_label:before {
    content: "(SPNI) ";
}

.Socialist-Party_abbr:before {
	content: "SPNI";
}

.Socialist-Party-Northern-Ireland {
    fill: #ff0000!important;
    background: #ff0000!important;
    color: #fff
}
.Irish-Republican-Socialist-Party_label:before {
    content: "(IRSP) ";
}

.Irish-Republican-Socialist-Party_abbr:before {
	content: "IRSP";
}

.Irish-Republican-Socialist-Party {
    fill: #ff0000!important;
    background: #ff0000!important;
    color: #fff
}

.Heritage-Party_label:before {
    content: "(HP) ";
}

.Heritage-Party_abbr:before {
	content: "HP";
}

.Heritage-Party {
    fill: rgba(59,12,114,1)!important;
    background: rgba(59,12,114,1)!important;
    color: #fff
}

.Communist-Party-of-Ireland_label:before {
	content: "(CPI) ";
}
.Communist-Party-of-Ireland_abbr:before {
	content: "CPI";
}
.Communist-Party-of-Ireland {
    fill: #ee4422!important;
    background: #ee4422!important;
    color: #fff
}

.Independents-4-Change_label:before {
    content: "(I4C) ";
}
.Independents-4-Change_abbr:before {
    content: "I4C";
}
.Independents-4-Change {
    fill: pink!important;
    background: pink!important;
    color: #fff
}

.Unionist_label:before {
    content: "(U) ";
}
.Unionist_abbr:before {
    content: "U";
}
.Unionist {
    fill: #FF8C00!important;
    background: #FF8C00!important;
    color: #fff
}

.Nationalist_label:before {
    content: "(N) ";
}
.Nationalist_abbr:before {
    content: "N";
}
.Nationalist {
    fill: rgb(64,179,79)!important;
    background: rgb(64,179,79)!important;
    color: #fff
}

.Direct-Democracy-Ireland_label:before {
    content: "(DD) ";
}
.Direct-Democracy-Ireland_abbr:before {
    content: "DD";
}
.Direct-Democracy-Ireland {
    fill: #770000!important;
    background: #770000!important;
    color: #fff
}

.Aontu_label:before {
    content: "(AON) ";
}
.Aontu_abbr:before {
    content: "AON";
}
.Aontu {
    fill: #008080!important;
    background: #008080!important;
    color: #fff
}


.PBP_label:before {
    content: "(PBP) ";
}
.PBP_abbr:before {
    content: "PBP";
}
.PBP {
    fill: #E91E63!important;
    background: #E91E63!important;
    color: #fff
}

.Anti-Austerity-Alliance---People-Before-Profit_label:before {
    content: "(PBP) ";
}
.Anti-Austerity-Alliance---People-Before-Profit_abbr:before {
    content: "PBP";
}
.Anti-Austerity-Alliance---People-Before-Profit {
    fill: #E91E63!important;
    background: #E91E63!important;
    color: #fff
}

.Irish-Freedom-Party_label:before {
    content: "(IFP) ";
}
.Irish-Freedom-Party_abbr:before {
    content: "IFP";
}
.Irish-Freedom-Party {
    fill: #224499!important;
    background: #224499!important;
    color: #fff
}

.Irish-Democratic-Party_label:before {
    content: "(IDP) ";
}
.Irish-Democratic-Party_abbr:before {
    content: "IDP";
}
.Irish-Democratic-Party {
    fill: #998822!important;
    background: #998822!important;
    color: #fff
}


.National-Party_label:before {
    content: "(NP) ";
}
.National-Party_abbr:before {
    content: "NP";
}
.National-Party {
    fill: #222244!important;
    background: #224444!important;
    color: #fff
}


.Renua_label:before {
    content: "(REN) ";
}
.Renua_abbr:before {
    content: "REN";
}
.Renua {
    fill: #777700!important;
    background: #777700!important;
    color: #fff
}

.Renua-Ireland_label:before {
    content: "(REN) ";
}
.Renua-Ireland_abbr:before {
    content: "REN";
}
.Renua-Ireland {
    fill: #777700!important;
    background: #777700!important;
    color: #fff
}



.Independent-Labour_label:before {
	content: "(ILP) ";
}
.Independent-Labour_abbr:before {
	content: "ILP";
}
.Independent-Labour {
    fill: #cb2710!important;
    background: #cb2710!important;
    color: #fff
}

.The-Labour-Party_label:before {
	content: "(LAB) ";
}

.The-Labour-Party_abbr:before {
	content: "LAB";
}

.The-Labour-Party {
    fill: #cb2710!important;
    background: #cb2710!important;
    color: #fff
}

.Labour_label:before {
	content: "(LAB) ";
}

.Labour_abbr:before {
	content: "LAB";
}

.Labour {
    fill: #cb2710!important;
    background: #cb2710!important;
    color: #fff
}


.Social-Democrats_label:before {
    content: "(SD) ";
}
.Social-Democrats_abbr:before {
    content: "SD";
}
.Social-Democrats {
    fill: rgb(102, 0 ,230)!important;
    background: rgb(102, 0 ,230)!important;
    color: #fff
}

.Fine-Gael_label:before {
    content: "(FG) ";
}
.Fine-Gael_abbr:before {
    content: "FG";
}
.Fine-Gael {
    fill: rgb(57,43,144)!important;
    background: rgb(57,43,144)!important;
    color: #fff
}

.Catholic-Democrats_label:before {
    content: "(CD) ";
}
.Catholic-Democrats_abbr:before {
    content: "CD";
}
.Catholic-Democrats {
    fill: rgb(80,80,203)!important;
    background: rgb(80,80,203)!important;
    color: #fff
}


.Fis-Nua_label:before {
    content: "(FN) ";
}
.Fis-Nua_abbr:before {
    content: "FN";
}
.Fis-Nua {
    fill: rgb(248,204,14)!important;
    background: rgb(248,204,14)!important;
    color: #fff
}

.Fianna-Fail_label:before {
    content: "(FF) ";
}
.Fianna-Fail_abbr:before {
    content: "FF";
}
.Fianna-Fail {
    fill: rgb(64,179,79)!important;
    background: rgb(64,179,79)!important;
    color: #fff
}

.Independent_label:before {
    content: "(IND) ";
}
.Independent_abbr:before {
    content: "IND";
}
.Independent {
    fill: #fe7f9c!important;
    background: #fe7f9c!important;
    color: #fff
}


.Solidarity_label:before {
	content: "(SOL) ";
}

.Solidarity_abbr:before {
	content: "SOL";
}

.Solidarity {
    fill: #800000!important;
    background: #800000!important;
    color: #fff
}

.Sinn-Fein_label:before {
    content: "(SF) ";
}
.Sinn-Fein_abbr:before {
    content: "SF";
}
.Sinn-Fein {
    fill: rgb(39,112,70)!important;
    background: rgb(39,112,70)!important;
    color: #fff
}

.Green-Party_label:before {
    content: "(GP) ";
}
.Green-Party_abbr:before {
    content: "GP";
}
.Green-Party {
    fill: #64DD17!important;
    background: #64DD17!important;
    color: #fff
}

.Workers-Party_label:before {
    content: "(WP) ";
}
.Workers-Party_abbr:before {
    content: "WP";
}
.Workers-Party {
    fill: #FF0000!important;
    background: #FF0000!important;
    color: #fff
}