#!/usr/bin/perl
# sensitive info, not included in repository
package FlickrCredentials;
use strict;

our $consumer_key = "<YOUR Flickr API CONSUMER KEY>";
our $consumer_secret = "<YOUR Flickr API CONSUMER SECRET>";
our $redirect_uri = "<YOUR Flickr API CALLBACK URL>";
our $config_file = "<SERVER PATH TO INITIAL CONFIG FILE>"; # e.g. '/tmp/'.$consumer_key.'.st';